numpy>=1.24.0
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
librosa>=0.10.0
numba>=0.56.0
pandas>=2.0.0
scikit-learn>=1.2.0
matplotlib>=3.7.0
seaborn>=0.12.0
shap>=0.41.0
tqdm>=4.65.0
soundfile>=0.12.1
wavefile>=1.5
pyAudioAnalysis>=0.3.14
IPython>=8.0.0
jupyter>=1.0.0
notebook>=6.5.0
streamlit>=1.22.0
fastapi>=0.68.0
slowapi>=0.1.4
python-multipart>=0.0.5
pyOpenSSL>=20.0.1
uvicorn>=0.15.0
uvicorn>=0.15.0
python-multipart>=0.0.5